.mui-icon-extra{
	background-size:24px 24px;
	width:24px;
	height:24px;
	display:inline-block;
	opacity:1.0;
}
.mui-icon-extra-compass{
	background-image: url("../image/svg/compass.svg");
}
.mui-icon-extra-addteam{
	background-image: url("../image/svg/addteam.svg");
}
.mui-icon-extra-adduser{
	background-image: url("../image/svg/adduser.svg");
}
.mui-icon-extra-compassfill{
	background-image: url("../image/svg/compass-fill.svg");
}
.mui-icon-extra-deleteteam{
	background-image: url("../image/svg/deleteteam.svg");
}
.mui-icon-extra-deleteuser{
	background-image: url("../image/svg/deleteuser.svg");
}
.mui-icon-extra-down{
	background-image: url("../image/svg/down.svg");
}
.mui-icon-extra-downcircle{
	background-image: url("../image/svg/down-circle.svg");
}
.mui-icon-extra-ellipsis{
	background-image: url("../image/svg/ellipsis.svg");
}
.mui-icon-extra-eye{
	background-image: url("../image/svg/eye.svg");
}
.mui-icon-extra-heartfill{
	background-image: url("../image/svg/heart-fill.svg");
}
.mui-icon-extra-home{
	background-image: url("../image/svg/home.svg");
}
.mui-icon-extra-like{
	background-image: url("../image/svg/like.svg");
}
.mui-icon-extra-message{
	background-image: url("../image/svg/message.svg");
}
.mui-icon-extra-messagefill{
	background-image: url("../image/svg/message-fill.svg");
}
.mui-icon-extra-right{
	background-image: url("../image/svg/right.svg");
}
.mui-icon-extra-rightcircle{
	background-image: url("../image/svg/right-circle.svg");
}
.mui-icon-extra-setting{
	background-image: url("../image/svg/setting.svg");
}
.mui-icon-extra-team{
	background-image: url("../image/svg/team.svg");
}
.mui-icon-extra-unlike{
	background-image: url("../image/svg/unlike.svg");
}
.mui-icon-extra-userfill{
	background-image: url("../image/svg/user_01.svg");
}
.mui-icon-extra-homefill{
	background-image: url("../image/svg/home-fill.svg");
}
.mui-icon-extra-unlike{
	background-image: url("../image/svg/unlike.svg");
}
.mui-icon-extra-playcircle{
	background-image: url("../image/svg/play-circle.svg");
}
.mui-icon-extra-pluscircle{
	background-image: url("../image/svg/plus-circle.svg");
}
.mui-icon-extra-user{
	background-image: url("../image/svg/user02.svg");
}
.mui-icon-extra-location{
	background-image: url("../image/svg/location.svg");
}
.mui-icon-extra-comment{
	background-image: url("../image/svg/comment.svg");
}
.mui-icon-extra-forward{
	background-image: url("../image/svg/forward.svg");
}
.mui-icon-extra-likefill{
	background-image: url("../image/svg/likefill.svg");
}
.mui-icon-extra-add{
	background-image: url("../image/svg/add.svg");
}
.mui-icon-extra-add1{
	background-image: url("../image/svg/ADD1.svg");
}
.mui-icon-extra-wallet{
	background-image: url("../image/svg/wallet.svg");
}
.mui-icon-extra-orderform{
	background-image: url("../image/svg/orderform.svg");
}
.mui-icon-extra-dyna{
	background-image: url("../image/svg/dyna.svg");
}
.mui-icon-extra-collection1{
	background-image: url("../image/svg/collections1.svg");
}
.mui-icon-extra-school{
	background-image: url("../image/svg/school.svg");
}
.mui-icon-extra-setup{
	background-image: url("../image/svg/setup.svg");
}
.mui-icon-extra-QR{
	background-image: url("../image/svg/QR.svg");
}
.mui-icon-extra-select{
	background-image: url("../image/svg/select.svg");
}
.mui-icon-extra-select{
	background-image: url("../image/svg/close.svg");
}