<li class="mui-table-view-cell mui-media" data-id="{{deal_id}}">
	<a href="javascript:;">
		<img class="mui-media-object mui-pull-left mui-img" src="{{userPicUrl}}" onerror="this.src='imgs/lazyload.png'">
		<div class="mui-media-body">{{userName}}
			<p class="mui-ellipsis">{{startLocation}}➡{{endLocation}}</p>
			<span class="deal_price">积分:</span>
			<span class="deal_deco">{{Intergral}}</span>
			<span class="deal_oldprice">送达时间:{{startTime}}~{{endTime}}</span>
		</div>
	</a>	
</li>