.mui-icon-extra{
	background-size:24px 24px;
	width:24px;
	height:24px;
	display:inline-block;
	opacity:1.0;
}
.mui-icon-extra-home{
	background-image: url("../image/svg/home.svg");
}
.mui-icon-extra-homefill{
	background-image: url("../image/svg/homefill.svg");
}
.mui-icon-extra-comment{
	background-image: url("../image/svg/comment.svg");
}
.mui-icon-extra-qq{
	background-image: url("../image/svg/qq1.svg");
}
.mui-icon-extra-weixin{
	background-image: url("../image/svg/weixin1.svg");
}
.mui-icon-extra-weibo{
	background-image: url("../image/svg/weibo1.svg");
}
.mui-icon-extra-find{
	background-image: url("../image/svg/find.svg");
}
.mui-icon-extra-commentfill{
	background-image: url("../image/svg/commentfill.svg");
}
.mui-icon-extra-findfill{
	background-image: url("../image/svg/findfill.svg");
}
.mui-icon-extra-add{
	background-image: url("../image/svg/add1.svg");
}
.mui-icon-extra-close{
	background-image: url("../image/svg/close.svg");
}
.mui-icon-extra-user{
	background-image: url("../image/svg/user.svg");
}
.mui-icon-extra-userfill{
	background-image: url("../image/svg/userfill.svg");
}


.mui-icon-extra-wallet{
	background-image: url("../image/svg/wallet.svg");
}
.mui-icon-extra-orderform{
	background-image: url("../image/svg/orderform.svg");
}
.mui-icon-extra-dyna{
	background-image: url("../image/svg/dyna.svg");
}
.mui-icon-extra-collection1{
	background-image: url("../image/svg/collections1.svg");
}
.mui-icon-extra-school{
	background-image: url("../image/svg/school.svg");
}
.mui-icon-extra-setup{
	background-image: url("../image/svg/setup.svg");
}
.mui-icon-extra-QR{
	background-image: url("../image/svg/QR.svg");
}

.mui-icon-extra-left{
	background-image: url("../image/svg/left.svg");
}
.mui-icon-extra-name{
	background-image: url("../image/svg/name.svg");
}
.mui-icon-extra-signature{
	background-image: url("../image/svg/signature.svg");
}
.mui-icon-extra-camera{
	background-image: url("../image/svg/camera.svg");
}
.mui-icon-extra-edit{
	background-image: url("../image/svg/edit.svg");
}
.mui-icon-extra-help{
	background-image: url("../image/svg/help.svg");
}
.mui-icon-extra-sale{
	background-image: url("../image/svg/sale.svg");
}
.mui-icon-extra-active{
	background-image: url("../image/svg/active.svg");
}
.mui-icon-extra-recruit{
	background-image: url("../image/svg/recruit.svg");
}
.mui-icon-extra-word{
	background-image: url("../image/svg/word.svg");
}
.mui-icon-extra-photo{
	background-image: url("../image/svg/photo.svg");
}
.mui-icon-extra-video{
	background-image: url("../image/svg/video.svg");
}
.mui-icon-extra-audio{
	background-image: url("../image/svg/audio.svg");
}
.mui-icon-extra-location{
	background-image: url("../image/svg/location.svg");
}
.mui-icon-extra-right1{
	background-image: url("../image/svg/right1.svg");
}
.mui-icon-extra-add2{
	background-image: url("../image/svg/add2.svg");
}
.mui-icon-extra-arrowdown{
	background-image: url("../image/svg/arrow-down.svg");
}
.mui-icon-extra-woman{
	background-image: url("../image/svg/woman.svg");
}
.mui-icon-extra-man{
	background-image: url("../image/svg/man.svg");
}
.mui-icon-extra-warn{
	background-image: url("../image/svg/warn.svg");
}
.mui-icon-extra-search{
	background-image: url("../image/svg/search.svg");
}
.mui-icon-extra-ellipsis{
	background-image: url("../image/svg/ellipsis.svg");
}
.mui-icon-extra-leftblack{
	background-image: url("../image/svg/leftblack.svg");
}
.mui-icon-extra-integraldel{
	background-image: url("../image/svg/integraldel.svg");
}
.mui-icon-extra-integraladd{
	background-image: url("../image/svg/integraladd.svg");
}
.mui-icon-extra-right2{
	background-image: url("../image/svg/right2.svg");
}
.mui-icon-extra-ellipse{
	background-image: url("../image/svg/ellipse.svg");
}